/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* a { color: inherit; text-decoration: none; }  */

  a {
    all: unset;
  }


#hidden {
  display: none;
}

 #nav {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid lightgrey;
   align-items: center;
   text-align: justify;
   padding: 10px;
   font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: grey;
 }



 #nav_left {
   display: flex;
   margin-left: 20px;
 }

 #nav_left:hover {
  cursor: pointer;;
 }

 #nav_right:hover {
  cursor: pointer;;
 }


 #nav_right {
   margin-right: 20px;
   display: flex;
   /* justify-content: space-between; */
 }

.logo {
  height: 50px;
}

.logo:hover {
  cursor: pointer;
}

#bar_container {
  text-align: center;
  border-bottom: 1px solid lightgrey;
}

#bar-middle {
  display: inline-block;
  text-align: center;
}

#bar {
  display: flex;
  /* justify-content: space-between; */
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

#bar-link {
  margin-left: 25px;
  margin-right: 25px;
  color: grey;
}

#bar-link:hover {
  text-decoration: underline;
  color: green;
  cursor: pointer;
}



#featured {
  text-align: left;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: grey;
}

.featured_pic {
  margin-top: 20px;
  margin-bottom: 2%;
  max-width: 90%;
  min-width: 90%;
  min-height: 70%;
  max-height: 100%;
  border-bottom:  solid 20px green;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  border: 3px solid #009E74;

}

.featured_pic:hover > #featured {
  display: block;
}

.focus-description {
  padding-top: .5%;
  padding-bottom: .5%;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: bold;
  text-align: left;
}

#index-body {
  margin-top: 3.5%;
  margin-bottom: 50px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  min-height: 500px;
}

#focus {
  width: 55%;
}

#focus-item {
  text-align: left;
}

#focus-container {
  text-align: center;
  margin-left: 10%;
  height: 60%;
  cursor: pointer;
}

#focus-body {
  display: inline-block;
  text-align: left;
  width: 75%;
  position: relative;
}

#side {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#side-body {
  width: 50%
}

#side-item {
  display: flex;
  width: 90%;
  height: 18%;
  padding-bottom: 3%;
  margin-bottom: 3%;
  border-bottom: lightgray 1px solid;
}

#side_posts {
  display: inline-block;
  padding-top: 20px;
  height: 300px;
  text-align: left;
  cursor: pointer;
}

#side-img {
  height: 100px;
  width: 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#side-text {
  padding-left: 20px;
}

#side-text > p {
  margin-bottom: 2%;
}

#side-title {
  margin-bottom: 2%;
  font-size: 18px;
  color: black;
  font-weight: normal;
}

#side-target {
  color: #009E74;
  font-weight: bold;
  font-size: 14px;
}

#side-author{
  font-size: 14px;
  color: grey;
}

.grey-bar {
  border-bottom: lightgray 1px solid;
};


#recomended-text {
  text-align: left;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: grey;
}


#subscribe_container {
  text-align: center;
  padding: 25px;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}

#subscribe {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
}

#description_focus {
  font-size: 30px;
  text-align: left;
}

#description_focus:hover {
  color: green;
  text-decoration: underline;
}

#explore {
  margin-right: 15px;
}

#search-p {
  margin-right: 15px;
}

#subscribe_button {
  background-color: black;
  color: white;
  width: 100px;
  height: 30px;
}

#subscribe_button:hover {
  box-shadow: 2px 2px 1px black;
}

#subscribe-form{
  height: 25px;
  width: 400px;
  margin-right: 20px;
}

.session_form {
  text-align: center;
}

.login-form-container {
  display: inline-block;
  margin-top: 5%;
  background-color: white;
  position: relative;
  min-width: 350px;
  min-height: 400px
}

.form_background {
  z-index: -1;
  height: 100%;
  width: 100;
  position: absolute;
}

#form-type-display{
  margin-top: 5%;
  margin-left: 13%;
  margin-bottom: 2%;
  font-size: 30px;
  text-align: left;
}

#submit_button {
  background-color: lightgreen;
  height: 30px;
  width: 250px;
  margin-bottom: 15px;
}

#submit_button:hover {
  box-shadow: 2px 2px 1px darkgreen;
}

#demo {
  background-color: lightgreen;
  height: 30px;
  width: 250px;
  padding-bottom: 5px;
}

#demo:hover {
  box-shadow: 2px 2px 1px darkgreen;
}

#form_input {
  height: 30px;
  width: 250px;
  margin-bottom: 15px;
}

#form_input:hover {
  outline: green;
}

#forgot-password {
  color: blue;
  font-size: 12px;
  display: flex;
  padding-left: 50px;
  
}

#forgot-password:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

#subscribe-1 {
  font-size: 36px;
}

#subscribe-2 {
  font-size: 18px;
  margin-top: 12px;
}


#background-img {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 67%;
  z-index: -2;
}

#rocket {
  z-index: -1;
  position: absolute;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: forwards; 
}

@keyframes example {
  0%   {left: 110%; top: 110%;}
  100% {left : 5%; top: 15%;}
}


#show-header {
  text-align: center;
  height: 80px;
  margin-bottom: 35px;
}

.header-button {
  background-color: #009E74;
  color: white;
  margin-left: 25%;
}

#show-title {
  display: inline-block;
  margin-top: 30px;
  font-weight: bold;
  font-size: 36px;
}

#show-description {
  display: inline-block;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.log-in {
  padding-top: 7%;
  margin: 0 auto;
  display: flex;

}

#log-in-page {
  padding-bottom: 5%;
}

.log-in > :first-child {
  padding-right: 5px;
}

.log-in > :last-child {
  color: blue;
  text-decoration: underline;
}

.log-in > :last-child:hover {
  cursor: pointer;
}
.sign-up {
  /* padding-top: -7%; */
  margin: 0 auto;
  display: flex;

}

.sign-up > :first-child {
  padding-right: 5px;
}

.sign-up > :last-child {
  color: blue;
  text-decoration: underline;
}

.sign-up > :last-child:hover {
  cursor: pointer;
}

.error-box {
  background-color: red;
  color: white;
  width: 75%;
  display: inline-block;
}

.container {
  padding-top: 7px;
  text-align: center;
}

.container-2 {
  display: inline-block; 
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px black;
  background-color: white;
  color: red;
  height: 100px;
  width: 300px;
  border-top: 7px solid red;
  text-align: center;
}

.modal-text {
  padding: 30px;
  display: inline-block;
}

#show-header {

}

#thanks {
  height: 25px;
  width: 400px;
  margin-right: 20px;
  background-color: lightgreen;
}

.show-center {
  display: flex;
  padding-top: 2%;
  padding-bottom: 3%;
}

.main-show-img {
  min-height: 450px;
  max-height: 450px;
  width: 58%;
  margin-left: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show-side-container {
  margin-left: 15%;
  width: 100%;
}

.show-side-target :first-child{
  text-decoration: 900;
  font-size: 30px;
  color: #009E74;
  font-family: Arial, Helvetica, sans-serif;
}

.show-side-target :last-child{
  font-size: 18px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

.show-side-target {
  padding-bottom: 4%;
  padding-top: 4%;
  
}

#side-show-funding {
  width: 42%;
}

.back-button {
  background-color: #009E74;
  width: 65%;
  height: 60px;
  color: white;
  font-size: 16px;
}

.show-side-backers-days :first-child{
  text-decoration: 900;
  font-size: 30px;
  color:grey;
  font-family: Arial, Helvetica, sans-serif;
}

.show-side-backers-days :last-child{
  font-size: 18px;
  color:grey;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 3%;
}

progress:not([value]) {
   /* Styling here */
}

.disclaimer {
  font-size: 14px;
  padding-right: 40%;
  margin-top: 5%;
}


progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 65%;
  height: 10px;
  color: #009E74;
}

progress[value]::-webkit-progress-bar {
  background-color: lightgrey;
  border-radius: 2px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; */
}
progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #009E74, #009E74);
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.show-side-bottom {
  padding-top: 3%;
  display: flex;
  align-items: center;
}

.remind-me-button {
  width: 30%;
  height: 35px;
  background-color: whitesmoke;

}

.facebook-logo-small {
  height: 20px;
  width: 20px;
  padding-left: 30px;
}

.show-side-bottom-right {
  align-items: center;
}

.bottom-title-container {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}

.bottom-title {
  display: inline-block;
  font-size: 36px;
  color: black;
}


.numbers {
  margin-top: 7%;
  display: flex;
  margin-left: 60%;
}

.number {
  color: #009E74;
  margin-right: 8px;
  margin-left: 8px;
  font-size: 18px;
}

.number:hover {
  text-decoration: underline;
  color: green;
  cursor: pointer;
}



.show-bottom {
  padding-top: 2%;
  border-top: 1px lightgray solid;
}

.bottom-content {
  display: flex;  
  justify-content: space-evenly;
  padding-bottom: 5%;
}

.bottom-picture {
  margin-left: 5%;
  height: 25%;
  width: 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottom-text > h1 {
  font-family: cursive;
  padding-top: 5%;
  padding-right: 9%;
  padding-left: 7%;
  font-size: 30px;
}

.bottom-text > h2 {
  font-family: cursive;
  padding-top: 5%;
  padding-right: 9%;
  padding-left: 12%;
  font-size: 20px;
};



.news-description {
  max-width: 5px;
};


.post {
  width: 200px;
}

.news-img {
  width: 300px;
  height: 150px;
  border-radius: 25%;
  margin-left: 5%;


}

/* .news-img-container {
    text-align: right;
    max-width: 30px;
    color: white;
} */


.footer-container {
  border-top: 3px gray solid;
}

.footer-body {
  margin-bottom: 1.5%;
}

.K-picture {
  width: 4%;
  height: 4%;
  margin-left: 70%;
}

.footer-content {
  margin-top: 1%;
  display: flex;
  align-items: Center
}

.etc {
  padding-left: 5%;
  padding-right: 5%;
}

.search-bar {
  margin-right: 15px;
}



.search-bar-container {
  margin-right: 5%;
  padding-right: 10px;
}

.hide-search {
  visibility: hidden;
  position: absolute;
}

.show-search {
  display: hidden;
  position: absolute;
  background-color: lightgreen;
}

.search-results {
  color: black;
}


.crud-body{
  padding-left: 41%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.crud-title{
  color: #009E74;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 2%;
}

.crud-button {
  background-color: lightgreen;
  height: 30px;
  width: 250px;
  margin-bottom: 15px;
  margin-top: 2%;
}

.crud-input {
  width: 40%;
  height: 10%;
  margin-bottom: 1%;
  border: 1px solid black;

}